/* FONT-FAMILY */
/* h1{
    color: red;
    font-family: cursive;
}
.p1{
    color: blueviolet;
    font-family: monospace;
} */

/* FONT-SIZE */

/* PEXELS FORM */
/* h1{
    font-size: 32px;
} */

/* PERCENTAGE FORM */
/* h1{
    font-size: 300%;
} */

/* DEFAULT VALUES */
/* h1{
    font-size: xx-large;
} */

/* IN EMS */
/* h1{
    font-size: 3em;
} */

/* FONT-FACE*/
 @font-face {
        font-family: test;
        src: url('./assets/fonts/KdamThmorPro-Regular.ttf');
        font-family: test1;
        src: url('./assets/fonts/Agbalumo-Regular.ttf');
    }
h1{
        font-family: test;
    }
p{
    font-family: test1;
}